.subscribe-button{
    background-color:rgb(220, 20, 20);
  color:white;
  border: none;
height: 36px;
width: 105px;
border-radius:2px;
font-size:14px;
font-weight:530;
cursor:pointer;
margin-right:8px;
transition:opacity 0.2s,background-color 0.2s;}

.subscribe-button:hover{background-color:rgb(167, 14, 14);
opacity:1;}
.subscribe-button:active{opacity:0.7}

.join-button{
      background-color:white;
      color:rgb(31, 139, 234);
      border-color:rgb(31, 139, 234);
      height: 36px;
      width: 70px;
      border-radius:3px;
      font-weight: 500;
      cursor:pointer;
    margin-right:8px}
      .join-button:hover{background-color:rgb(31, 139, 234);color:white}
      .join-button:active{background-color:rgb(31, 139, 234);
      color:white;opacity:0.8}  

      .tweet-button{
      background-color:rgb(28, 171, 243);
      color:white;
      height:36px;
      width:78px;
      font-weight: 600;
      border-radius:17px;
      border:none;
      font-size:15px;
      cursor:pointer;
      transition:box-shadow 0.15s;
  }
  .tweet-button:hover{background-color:rgb(25, 156, 221);
    box-shadow:3px 3px 3px rgba(0,0,0,0.2);}
  .tweet-button:active{color:rgb(28, 171, 243);
  background-color:white}


  .textchanging-button{
  color:white;
  background-color:black;
  height:36px;
  width:95px;
  border-radius:12px;
  border:none;
  font-size:15px;
  cursor:crosshair;
  transition:box-shadow 1s;
}
.textchanging-button::after{
  content:"HELLO"}
    .textchanging-button:hover::after{
    content:"You again";
    color:white;
    background-color:red;
    border-radius:5px;}
.textchanging-button:active::after{
    content:"JK,HI";
    color:white;
    background-color:black;}

    .textchange-button{
  color:white;
  background-color:black;
  padding-top:9.5px;
  padding-bottom:9.5px;
  padding-left:22.5px;
  padding-right:22.5px;
  border-radius:12px;
  border:none;
  font-size:15px;
  cursor:crosshair;
  transition:box-shadow 1s;
}
.textchange-button::after{
  content:"How are you?"}
    .textchange-button:hover::after{
    content:"I'm alive";
    background-color: blueviolet;
    color:white;
    border-radius:5px;}
.textchange-button:active::after{
    content:"Alhamdullilah^~^";
    color:white;
    background-color:black;}

    .play-button{
padding-top:9.5px;
padding-bottom:9.5px;
padding-left:22.5px;
padding-right:22.5px;
font-size:26px;
color:white;
background-color:rgb(235, 29, 63);
border-radius:6px;
border:none;
}
.play-button:hover{
font-size:36px;
padding-top:12px;
padding-bottom:12px;
padding-left:25px;
padding-right:25px;}

.play2-button{
padding-top:9.5px;
padding-bottom:9.5px;
padding-left:22.5px;
padding-right:22.5px;
font-size:26px;
color:white;
background-color:rgb(235, 29, 63);
border-radius:6px;
border:none;
}
.play2-button:hover{
background-color:rgb(15,25,35);
transition:1s;}