.hi-button{ height:36px;
    width:140px;
    border:none;
    border-radius:5px;
    font-size:15px;
  color:white;
background-color:black;
}
  .hi-button::after{
    content:"Merhaba"}
  .hi-button:active::after{
    content:"Selam"}

  .backtoamazon:hover{color:green}

  .nikeshoes:hover{color:green}

  p:hover{color:red;
  cursor:default;}

  .addtocart-button{
      color:black;
      background-color:rgb(255, 218, 10);
      height:30px;
      width:100px;
      border:none;
      border-radius:14px;
      font-size:15px;
      cursor:pointer;
    }
    .addtocart-button:hover{background-color:rgb(226, 194, 15)}
    .addtocart-button:active{opacity:0.7}

    .buynow-button{
      color:black;
      background-color:rgb(255, 177, 0);
      height:30px;
      width:90px;
      border:none;
      border-radius:12px;
      font-size:15px;
      cursor:pointer;
    }
    .buynow-button:hover{background-color:rgb(237, 159, 14)}
    .buynow-button:active{opacity:0.7}

    .trickyquestion{font-weight:bold;font-size:36px;color:black}

    .trickyquestion::after{content:"Are you Human?"}
  .trickyquestion:hover::after{content:"Are you Animal?"}
  .tricky-button1{height:36px;
    width:100px;
    border:none;
    border-radius:5px;
    font-size:15px;
    background-color:black;
    color:white;
    margin-left:8px;
    margin-right:15px;}
.tricky-button2{height:36px;
    width:100px;
    border:none;
    border-radius:5px;
    font-size:15px;
    color:white;
    background-color:black;}
.tricky-button1::after{content:"YES"}
.tricky-button1:hover::after{content:"NO"}
.tricky-button1:active::after{content:"YES"}
.tricky-button2::after{content:"NO"}
.tricky-button2:hover::after{content:"YES"}
.tricky-button2:active::after{content:"NO"}